{% extends "_base.html" %}
{% block content %}

		<!-- BEGIN #content -->

		<div id="content" class="app-content p-0">
			<div class="app-content-inner-padding" data-scrollbar="true" data-height="100%" data-skip-mobile="true">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">CANDACE B ROCKS INTERNAL SYSTEMS</a></li>
				<li class="breadcrumb-item active">HOME PAGE</li>
			</ul>

			<h1 class="page-header">
				Home Page <small>Inventory Systems Stats</small>
			</h1>

			<hr class="mb-4" />
			<div class="row">
				<div class=" col-12 card mb-3">
					<div class="hljs-container border-0">
					<h3>Welcome, <em>{{ current_user.email }}</em>!</h3>
					<h4>Candace B Rocks Systems</h4>
					<h5>Please login to access company information!</h5>
					</div>
					<div class="card-arrow">
							<div class="card-arrow-top-left"></div>
							<div class="card-arrow-top-right"></div>
							<div class="card-arrow-bottom-left"></div>
							<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
              </div>
			</div>
		</div>
	</div>
		<!-- END #content -->
	<!-- END #app -->
{% endblock %}